In [1]:
# voor het scrapen van funda wordt gebruik gemaakt van de bestaande repository funda-scraper
# https://pypi.org/project/funda-scraper/
# https://github.com/whchien/funda-scraper

pip install funda-scraper

Collecting funda-scraper
  Downloading funda_scraper-0.0.2-py3-none-any.whl (9.1 kB)
Requirement already satisfied: tqdm>=4.42.0 in /opt/anaconda3/lib/python3.9/site-packages (from funda-scraper) (4.64.0)
Requirement already satisfied: requests>=2 in /opt/anaconda3/lib/python3.9/site-packages (from funda-scraper) (2.27.1)
Collecting diot>=0.1.5
  Downloading diot-0.1.7-py3-none-any.whl (11 kB)
Requirement already satisfied: beautifulsoup4>=4.8 in /opt/anaconda3/lib/python3.9/site-packages (from funda-scraper) (4.11.1)
Requirement already satisfied: lxml>=4 in /opt/anaconda3/lib/python3.9/site-packages (from funda-scraper) (4.8.0)
Requirement already satisfied: pandas>=1.2 in /opt/anaconda3/lib/python3.9/site-packages (from funda-scraper) (1.4.2)
Requirement already satisfied: PyYAML>=5.0 in /opt/anaconda3/lib/python3.9/site-packages (from funda-scraper) (6.0)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4>=4.8->funda-scraper) (2.3.1)
Requirement already satisfied: inflection<0.6,>=0.5 in /opt/anaconda3/lib/python3.9/site-packages (from diot>=0.1.5->funda-scraper) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.2->funda-scraper) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.2->funda-scraper) (2021.3)
Requirement already satisfied: numpy>=1.20.0 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.2->funda-scraper) (1.21.5)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=1.2->funda-scraper) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2->funda-scraper) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2->funda-scraper) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2->funda-scraper) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2->funda-scraper) (1.26.9)
Installing collected packages: diot, funda-scraper
Successfully installed diot-0.1.7 funda-scraper-0.0.2
Note: you may need to restart the kernel to use updated packages.

In [32]:
from funda_scraper import FundaScraper

#funda.nl geraadpleegd op 25-3-2023, op dat moment waren in Amstedam 212 paginas aan koopwoningen beschikbaar voor webscraping 
scraper = FundaScraper(area="amsterdam", n_pages=212, want_to='buy')
# scraper URL 
df = scraper.run()

df.head()

2023-05-25 12:59:10,301 - INFO - *** Phase 1: Fetch all the available links from all pages ***  (scrape.py:107)
100%|█████████████████████████████████████████| 213/213 [02:08<00:00,  1.66it/s]
2023-05-25 13:01:18,446 - INFO - *** Got all the urls. 3336 houses found in 212 pages. *** (scrape.py:118)
2023-05-25 13:01:18,447 - INFO - *** Phase 2: Start scraping results from individual links *** (scrape.py:183)
/opt/anaconda3/lib/python3.9/site-packages/funda_scraper/scrape.py:188: TqdmWarning: Iterable length 3336 > 1000 but `chunksize` is not set. This may seriously degrade multiprocess performance. Set `chunksize=1` or more.
  content = process_map(self.scrape_from_url, self.links, max_workers=pools)

  0%|          | 0/3336 [00:00<?, ?it/s]

2023-05-25 13:06:50,557 - INFO - *** All scraping done: 3336 results *** (scrape.py:195)
2023-05-25 13:06:50,557 - INFO - *** Cleaning data *** (scrape.py:229)

,house_id,city,house_type,building_type,price,price_m2,room,bedroom,bathroom,living_area,...,has_balcony,has_garden,zip,address,year_built,house_age,date_list,ym_list,year_list,descrip
0,42114279,amsterdam,appartement,New property,695000,6318.2,3,2,1,110,...,0,0,1043,Barajasweg 108,2023,0,2023-05-24 00:00:00.000000,2023-05-01,2023,\r\nBezichtigingsmogelijkheid op vrijdag 2 j...
1,42107538,amsterdam,appartement,Resale property,825000,8684.2,2,1,1,95,...,0,1,1017,Kerkstraat 303 L,0,2023,2023-05-11 13:06:50.588338,2023-05-01,2023,\r\nFor sale! Modern apartment with contempo...
2,42930188,amsterdam,appartement,New property,421500,7144.1,2,1,1,59,...,0,0,1101,Hondsrugweg (Bouwnr. 88),2024,-1,2022-11-26 13:06:50.588345,2022-11-01,2022,\r\nConstruction has started and expected co...
3,42100386,amsterdam,appartement,Resale property,699000,6532.7,4,3,1,107,...,0,1,1095,Tidorestraat 88,1982,41,2023-05-11 13:06:50.588347,2023-05-01,2023,\r\n(ENGLISH BELOW) Welkom bij Tidorestraat ...
4,88558618,amsterdam,huis,Resale property,489000,4701.9,4,3,1,104,...,0,1,1106,Mijndenhof 35,1981,42,2023-05-11 13:06:50.588348,2023-05-01,2023,\r\nWelkom bij Mijndenhof 35 te Amsterdam ...

In [41]:
# in totaal zijn er 2411 koopwoningen gevonden 
# de gescrapte data wordt door de package automatisch gecleaned en in de volgende kolommen geplaatst
len(df), df.columns

(2411,
 Index(['house_id', 'city', 'house_type', 'building_type', 'price', 'price_m2',
        'room', 'bedroom', 'bathroom', 'living_area', 'energy_label',
        'has_balcony', 'has_garden', 'zip', 'address', 'year_built',
        'house_age', 'date_list', 'ym_list', 'year_list', 'descrip'],
       dtype='object'))

In tegenstelling tot de code die gebruikt is in de thesis, wordt via deze package alleen een beperkt aantal kenmerken van de huizen gescraped. Dit betekent dat de schrijver van de package van te voren al een feature filter heeft verwerkt in de scraper package. Opvallend is dat features zoals 'Soort Dak' en 'Voorzieningen' ontbreken. 

Desondanks de ontbrekende features is voor deze package gekozen omdat de geselecteerde features in deze package een beknopt beeld geven van de belangrijkste gegevens van verkoophuizen. 

Het grote voordeel van deze package is dat het opschonen van de data al verwerkt zit in de extractor functie. 

Aan de hand van een handmatige steekproef controle is de gescrapte data gevalideerd met de funda website.

In [48]:
# statistieken van de prijs

#gemiddelde verkoopprijs
df['price'].describe()['mean']

814196.7598506843

In [49]:
df['price'].describe()['min']

109950.0

In [50]:
df['price'].describe()['max']

7000000.0

De gemiddelde verkoopprijs is 814.196,76 

De minimum verkoopprijs is 109.950,00 

de maximum verkoopprijs is 7.000.000,00

In [51]:
#exporteer pandas data set naar csv
compression_opts = dict(method='zip', archive_name='Funda_Amsterdam_25-03-2023.csv') 

df.to_csv('Funda_Amsterdam_25-03-2023.zip', index=False, compression=compression_opts)